body {
  width: 50%;
}

#Search {
  position: relative;
  overflow: auto;
}

#userInput {
  float: left;
  width: 70%;
}

.searchButton {
  margin-bottom: 5%;
  float: right;
}

#displayInformation {
  position: relative;
  overflow: auto;
}

#UserRepos {
  position: relative;
  margin-left: 60%;
  overflow: hidden;
}
.displayUserInfo {
  display: block;
  border: 1px solid grey;
  width: 50%;
  float: left; 
  
}

.displayUserRepoInfo {
  display: block;
  width: 100%;
  border: 1px solid grey;
}

