#outer_container {
	position: relative;
	width: 50%;
	height: 30%;
	margin: 0 auto;
	padding: 70px 0;
	background-color: LightGray;
}

#inner_container {
	position: relative;
	text-align: center;
	padding: 10% 0;
	width: 80%;
	height: 50%;
	margin: 0 auto;
	border: 1px solid black;
}

input {
	width: 83%;
	text-align: right;
}

button {
	width: 20%;
}