#outer_container {
	position: relative;
	text-align: center;
	width: 20%;
	height: 20%;
	border: 1px solid black;
	
}

input {
	width: 50%;
	text-align: right;
	margin: 10;
}

button {
	width: 10%;
	border-radius: 30%;
	margin: 1%;
	background-color: LightGrey;
}